/* עיצוב לדף ה-7Boom */
/* Styling for the 7Boom Page */
.seven-boom-container {
    background-image: url(boombackgournd.jfif);
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 20px;
    margin: 0;
}

h3.seven-boom-title {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.seven-boom-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

    .seven-boom-table td {
        padding: 10px;
        font-size: 1.5em;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;
    }

        .seven-boom-table td.boom {
            background-color: #ff6347;
            color: white;
            font-weight: bold;
        }

        .seven-boom-table td.number {
            background-color: #fff;
            color: #333;
        }

        .seven-boom-table td:hover {
            background-color: #f0f0f0;
        }
.boom-icon {
    width: 75px; 
    height: auto;
    margin: 0 auto;
}



/* border */

body {
    font-family: 'Cambria Math', sans-serif;
    background-color: #f4f4f9;
    padding: 0;
    margin: 0;
}

.multiplication-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .multiplication-table th {
        background-color:black;
        color: white;
        padding: 7px;
        font-size: 1.3em;
    }

    .multiplication-table td {
        padding: 10px;
        text-align: center;
        font-size: 1em;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        color: #333;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .multiplication-table td:hover 
    {
            background-color: #e0e0e0;
            transform: scale(1.1);
    }

h3 {
    text-align: center;
    font-size: 2em;
    color: blue;
    margin-bottom: 20px;
}
