@page "/7Boom"

<head>
    <link href="css/app.css" rel="stylesheet" />
</head>


<div class="seven-boom-container">
    <h3>7Boom</h3>

    <table class="seven-boom-table">
        <tbody>
            @for (int row = 0; row < 10; row++) 
            {
                <tr>
                    @for (int col = 1; col <= 10; col++)
                    {
                        int number = row * 10 + col;
                        <td>
                            @if (number == 7 || number % 7 == 0 || number % 10 == 7 || number / 10 == 7)
                            {
                                <img src="boomicon-removebg-preview.png" class="boom-icon" />
                            }
                            else
                            {
                                @number
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
